.button {
  position: relative;
  border-radius: 90px 0 180px 90px;
  padding: 16px 37px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.15);
  background: $color4;

  font-weight: 700;
  font-size: clamp(12px, 0.446rem + 1.35vw, 22px);
  color: $body-color;
  transition: all .3s;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 90px 0 180px 90px;
    z-index: 1;
    background: $text-color3;
    transition: all .3s;
  }

  &:hover::after {
    width: 100%;
  }

}

.small-button {
  position: relative;
  padding: 12px 26px 12px 26px;
  border-radius: 90px 0 180px 90px;
  font-weight: 700;
  font-size: clamp(12px, 0.507rem + 1.35vw, 20px);
  color: $body-color;
  background: $color4;
  transition: all .3s;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 90px 0 180px 90px;
    z-index: 1;
    background: $text-color3;
    transition: all .3s;
  }

  &:hover::after {
    width: 100%;
  }

  // &:active::after {
  //   width: 100%;
  // }
}

.button__text {
  position: relative;
  z-index: 2;
}

@media (max-width:1200px) {

  .button {
    padding: 14px 34px; 
  }

  .small-button {
    padding: 10px 24px;
  }
}

@media (max-width:768px) {

  .button {
    padding: 10px 30px; 
  }

  .small-button {
    padding: 8px 22px;
  }
}

@media (max-width:480px) {

  .button {
    padding: 8px 26px; 
  }

  .small-button {
    padding: 6px 18px;
  }
}