.phone {
  @include flex-center;
  gap: 10px;

  &:hover .phone__svg {
   animation: dialing 1s linear 0.3s infinite ;
   }
}
.phone__svg {
  width: 24px;
  height: 24px;
  fill: $text-color1;
  transform: scale(1);
}
.phone__number {
  font-weight: 700;
  font-size: clamp(14px, 0.446rem + 1.35vw, 22px);
  color: $text-color1;
}

.social {
  @include flex-center;
  gap: 10px;

  &:hover .social__svg{
    animation: dialing 1s linear 0.3s infinite ;
    }
}
.social__svg-box {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  @include flex-center;
  background: radial-gradient(
    230.93% 230.93% at 102.01% 2.03%,
    rgb(249, 237, 50) 0%,
    rgb(238, 42, 123) 36.000001430511475%,
    rgb(210, 42, 138) 43.99999976158142%,
    rgb(139, 42, 178) 60.00000238418579%,
    rgb(27, 42, 240) 82.99999833106995%,
    rgb(0, 42, 255) 87.99999952316284%
  );
}
.social__svg {
  width: 20px;
  height: 20px;
  fill: $body-color;
}
.social__text {
  max-width: 127px;
  font-style: italic;
  font-weight: 300;
  font-size: clamp(12px, 0.568rem + 0.81vw, 18px);
  line-height: 1.11111;
  color: $text-color1;
}

@keyframes dialing {
  0% {
   transform: scale(1.2);
  }
  25% {
    transform: scale(1.3);
   }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
  
}


