/* global styles*/

body{
  font-family:$text-font ;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  // line-height: 1.5;
  color: $text-color1;
  background-color: $body-color;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1215px;
  padding: 0 15px;
  border:1px solid green;
}

.main-title {
  font-family: "Balsamiq Sans", sans-serif;
  font-weight: 700;
  font-size: clamp(33px, 1.431rem + 3.16vw, 75px);
  line-height: 1;
  color: $text-color3;
}

.section-title {
  font-family: "Balsamiq Sans", sans-serif;
  font-weight: 700;
  font-size: clamp(30px, 1.455rem + 2.1vw, 60px);
  line-height: 1.16667;

}