// fonts
$title-font: "BalsamiqSans-Bold", sans-serif;
$font-light: "Nunito-Light", sans-serif;
$font-light-italic: "Nunito-LightItalic", sans-serif;
$font-regular: "Nunito-Regular", sans-serif;
$font-medium: "Nunito-Medium", sans-serif;
$font-semibold: "Nunito-SemiBold", sans-serif;
$font-bold: "Nunito-Bold", sans-serif;
$font-black: "Nunito-Black", sans-serif;

// colors
$body-color: #fff;
$text-color1: #232323;
$text-color2: #fff;
$text-color3: #e51d82;
$color1: #ffd200;
$color2: #b437e5;
$color3: #756bd8;
$color4: #ff4ca6;
$color5: #ff6100;
$modal-bg: rgba(0, 0, 0, 0.5);
