// fonts
$title-font: "BalsamiqSans-Bold", sans-serif;
$text-font: 'Nunito',sans-serif;

// colors
$body-color: #fff;
$text-color1: #232323;
$text-color2: #fff;
$text-color3: #e51d82;
$color1: #ffd200;
$color2: #b437e5;
$color3: #756bd8;
$color4: #ff4ca6;
$color5: #ff6100;
$modal-bg: rgba(0, 0, 0, 0.5);
